.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.4rem 0;
  .site-nav-bar {
    display: flex;
    gap: 4.2rem;
    .site-nav__list {
      font-size: $P-s;
      color: $secondary-dark-grey;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .burger-bar {
    display: none;
  }
}

.header_bottom{
  max-width: 111.1rem;
  height: 64rem;
  background-color:#E7816B;
  padding-left: 9.5rem;
  padding-top: 14.5rem;
  background-image: url("../../images/png/main-top-oval.png");
  background-repeat: no-repeat;
  background-position: center right;
  display: flex;
  border-radius: 0.8rem;
  .header_bottom_first_h1{
    width: 54rem;
  height: 16.5rem;
  flex-shrink: 0;
  color: #FFF;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.8rem; 
  }
  .header_bottom_first_p{
 
  
  width: 445px;
color: #FFF;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.6rem; 
}
}


.header_bottom_first_a{
margin-top: 3rem;
  width: 15.2rem;
  height: 5.6rem;
  color:#333136;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #333136;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1rem;
text-transform: uppercase;
border-radius: 0.8rem;
transition: background-color 0.8s ease;
 &:hover{
  background-color: #FFAD9B;
  color: #FFF;
 }
 
}
.header_bottom_second{
  overflow: hidden;
 padding-left: 8rem;
}
@media screen and (max-width: 1336px) {
  .header_bottom_second{
    padding-left: 3rem;
  }
}
@media screen and (max-width: 1295px){
  .header_bottom_second{
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1268px){
  .header_bottom_second{
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1268px){
  .header_bottom_second{
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 660px) {
  .site-nav-bar {
    display: none !important;
  }
  .burger-bar {
    display: flex !important;
  }
}
@media screen and (max-width: 1263px) {
   .header_bottom{
    padding-left: 5.8rem;
    padding-top: 6rem;
   display: block;
   overflow: hidden;
   padding-left: 0 !important;
   height: 80rem;
   }
   .header_bottom_first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
   .header_bottom_first_h1{
text-align: center;
   }
   .header_bottom_first_p{
 text-align: center;
  } 
  .header_bottom_second_img{
    margin-top: 50px;


  }
  .header_bottom_second{
   display: flex;
   justify-content: center;
   align-items: center;
  }
}
@media screen and (max-width: 557px) {
  .header_bottom_first_h1{
    width: 32.7rem !important;
    height: 12.8rem !important;
text-align: center !important;
font-size: 3.2rem !important;
line-height: 3.6rem !important; 
  }
  .header_bottom_first_p{
    width: 32.7rem !important;
    text-align: center !important;
    font-size: 1.5rem !important;
    line-height: 2.5rem !important;
  }
}

