// primary colors
$primary-peach: #e7816b;
$primary-black: #1d1c1e;
$primary-white: #ffffff;
// secondary colors
$light-peach: #ffad9b;
$secondary-dark-grey: #333136;
$secondary-light-grey: #f1f3f5db;

// typography
$main-font: "jost", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$h1-s: 4.8rem;
$h1-lh: 4.8rem;

$h2-s: 4rem;
$h2-lh: 4.8rem;
$h2-lt: 0.2rem;

$h3-s: 2rem;
$h3-lh: 2.6rem;
$h3-lt: 0.5rem;

$P-s: 1.6rem;
$p-lh: 2.6rem;
